<!-- Start Content-->
<div class="container-fluid">

  <div class="row">
    <div id="carouselExampleIndicators" class="carousel slide mb-1" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="assets/img/dash-slider_01.jpg" alt="">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="assets/img/dash-slider_02.jpg" alt="">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="assets/img/dash-slider_03.jpg" alt="">
        </div>
      </div>
    </div>
    <div class="col-xl-12 px-1">
      <!-- <div class="dash-tabd dash-tabd-2">
        <ul *ngIf="dataList" class="nav nav-tabs nav-bordered my-nav-tabs">
          <li class="nav-item" (click)="getDataList( 'all' )">
            <a class="nav-item nav-link" (click)="isActiveTabs = 'all';" [ngClass]="{'active': isActiveTabs === 'all'}">
              Dashboard
            </a>
          </li>
          <li class="nav-item" (click)="getDataList( 'market' )">
            <a class="nav-item nav-link" (click)="isActiveTabs = 'market';" [ngClass]="{'active': isActiveTabs === 'market'}">
              Market
            </a>
          </li>
          <li *ngFor="let item of dataList" class="nav-item" (click)="getDataList( item.slug )">
            <a  class="nav-item nav-link" id="{{'nav-'+item.slug+ '-tab'}}" (click)="isActiveTabs = item.slug;" [ngClass]="{'active': isActiveTabs === item.slug}">
              {{item.name}}
            </a>
          </li>
        </ul>
      </div> -->

      <div class="tab-content ctm-tabs-content labels-tabs-panel pt-1" id="nav-tabContent">

        <div class="tab-pane fade" id="nav-All" [ngClass]="{'active show': isActiveTabs === 'all'}">
          <div class="col-md-12 all-dash-tabs px-0">
            <div class="row mx-0">
              <div class="col-lg-2 col-sm-4 col-md-4 col-6 dash-col-3">
                <a (click)="isActiveTabs = 'market';" (click)="getDataList( 'market' )">
                  <div class="widget-rounded-circle bg-card">
                    <img class="img-fluid" src="assets/img/mymarket.png" alt="">
<!--                    <p class="text-muted mb-1 text-truncate text-uppercase">{{systemName}}</p>-->
                  </div>
                </a>
              </div>

              <div *ngFor="let item of dataList"  class="col-lg-2 col-sm-4 col-md-4 col-6 dash-col-3">
                <a (click)="isActiveTabs = item.slug;" (click)="getDataList( item.slug )">
                  <div class="widget-rounded-circle bg-card">
                    <img class="img-fluid" src="assets/img/{{item.slug}}.png" alt="">
<!--                    <p class="text-muted mb-1 text-truncate text-uppercase">{{item.name}}</p>
                    <span class="new-game" *ngIf="item.isNew == 1" data-plugin="counterup"></span>-->
                  </div>
                </a>
              </div>
            </div>

          </div>
        </div>

        <div aria-labelledby="nav-MYMARKET-tab" class="tab-pane fade" id="nav-MYMARKET"  [ngClass]="{'active show': isActiveTabs === 'market'}" role="tabpanel" aria-expanded="false">
          <div class="row mx-0">
            <div *ngFor="let item of marketList; let iIndex = index" class="col-12 dash-div " [ngClass]="{'mt-1': iIndex !== 0}">
              <button class="dash-back-btn" (click)="getDataList( 'all' )" (click)="isActiveTabs = 'all';"><i class="fas fa-chevron-left"></i></button>
              <div class="bg-danger">
                  <h5 class="btn-danger font-weight-bold text-uppercase py-1 px-2 m-0">
                    {{item.name}}
                  </h5>
              </div>

              <!--new design-->
              <div *ngFor="let item2 of item?.event" class="row mx-0 text-capitalize py-1">
                <div routerLink="/system-board/event-details/{{item?.slug}}/{{item2?.eventId}}" class="col-md-5 align-self-center">
                  <div class="eventlist-name">
                    <p>
                      {{item2?.name}}
                      <em *ngIf="item2?.type === 'IN_PLAY'"><i class="mdi mdi-circle blinker text-success"></i></em>
                      <b>{{ item2?.time*1000 | date :'mediumDate' }} {{ item2?.time*1000 | date :'mediumTime' }}</b>
                    </p>
                  </div>
                </div>
                <div class="col-md-1 align-self-center text-lg-center">
                  <span class="dash-bets">{{ item2?.betCount }} BETS</span>
                </div>
                <div class="col-md-6 text-center align-self-center mx-0">
                  <ul *ngIf="item2?.runners?.length > 0" class="dash-ul">
                    <li *ngFor="let runner of item2?.runners"> {{runner?.runnerName}} <span [ngClass]="{'dash-profit': runner?.profitLoss >= 0 , 'dash-loss': runner?.profitLoss < 0}" class="">( {{runner?.profitLoss}} )</span> </li>
                  </ul>
                </div>
              </div>
              <!--new design-->

              <!--<div *ngFor="let item2 of item.event" class="row mx-0 py-2 text-capitalize align-items-top">
                <div routerLink="/system-board/event-details/{{item.slug}}/{{item2.eventId}}" class="col-md-5 col-12">
                  <span>
                    {{item2.name}}
                    <b *ngIf="item2?.type === 'IN_PLAY'"><i class="mdi mdi-circle blinker text-success"></i></b>
                    <small class="dash-timer market-dt">{{ item2.time*1000 | date :'mediumDate' }} {{ item2.time*1000 | date :'mediumTime' }}</small>
                  </span>
                </div>
                <div class="col-md-1 col-12 px-0">
                  <span class="dash-bets">{{ item2.betCount }} bets</span>
                </div>
                <div *ngIf="cUserData?.role != 'SV'" class="col-md-5 col-12">
                  <ul *ngIf="item2?.runners?.length > 0" class="dash-ul">
                    <li *ngFor="let runner of item2?.runners"> {{runner?.runnerName}} <span [ngClass]="{'dash-profit': runner?.profitLoss >= 0 , 'dash-loss': runner?.profitLoss < 0}" class="">( {{runner?.profitLoss}} )</span> </li>
                  </ul>
                </div>
              </div>-->
            </div> <!-- end col -->
          </div>
        </div>

        <div *ngFor="let item of dataList" class="tab-pane fade" id="nav-CRICKET" role="tabpanel" [ngClass]="{'active show': isActiveTabs === item.slug }">
          <div class="row mx-0">
            <div class="col-12 dash-div">
              <button class="dash-back-btn" (click)="getDataList( 'all' )" (click)="isActiveTabs = 'all';"><i class="fas fa-chevron-left"></i></button>
              <div class="bg-danger">
                <button type="button" *ngIf="cUserData?.role != 'SV'" [ngClass]="{'btn-success-unblock pr-0': !item?.isBlock,'btn-danger-block': item?.isBlock}" class="btn " id="DashButtonGame">
                  <span class="btn-label mr-0">
                    <i class="mdi" [ngClass]="{'mdi-check-all': !item?.isBlock,'mdi-block-helper': item?.isBlock}"></i>
                  </span>
                </button>
                <b class="text-light ml-2 text-uppercase font-weight-bold">{{item.name}}</b>
              </div>

              <!--new design-->
              <div *ngFor="let event of eventList" class="row mx-0 text-capitalize py-1">
                <div class="col-md-5 align-self-center">
                  <div class="eventlist-name">
                    <span class="tn-icons">
                      <button *ngIf="cUserData?.role != 'SV'" [ngClass]="{'btn-success-unblock': !event?.isBlock,'btn-danger-block': event?.isBlock}" type="button" class="btn p-1 lh-08" id="DashButtonGame">
                        <i class="mdi" [ngClass]="{'mdi-check-all': !event?.isBlock,'mdi-block-helper': event?.isBlock}"></i>
                      </button>
                    </span>
                    <p routerLink="/system-board/event-details/{{item?.slug}}/{{event?.eventId}}">
                      {{event?.name}}
                      <em *ngIf="event?.type === 'IN_PLAY'"><i class="mdi mdi-circle blinker text-success"></i></em>
                      <b *ngIf="item.slug != 'live-games' && item.slug != 'live-games2'">{{ event.time*1000 | date :'mediumDate' }} {{ event.time*1000 | date :'mediumTime' }}</b>
                    </p>
                  </div>
                </div>
                <div class="col-md-2 align-self-center text-lg-center">
                  <span class="dash-bets">{{ event.betCount }} BETS</span>
                </div>
                <div *ngIf="item.slug == 'cricket' || item.slug == 'tennis' || item.slug == 'football'" class="col-md-5 text-center align-self-center mx-0">
                  <button type="button" class="d-blue-area">{{event?.oddsData?.odds && event?.oddsData?.odds[0]?.backPrice1 || '-'}}</button>
                  <button type="button" class="d-red-area">{{event?.oddsData?.odds && event?.oddsData?.odds[0]?.layPrice1 || '-'}}</button>
                  <button type="button" class="d-blue-area">{{event?.oddsData?.odds && event?.oddsData?.odds[2]?.backPrice1 || '-'}}</button>
                  <button type="button" class="d-red-area">{{event?.oddsData?.odds && event?.oddsData?.odds[2]?.layPrice1 || '-'}}</button>
                  <button type="button" class="d-blue-area">{{event?.oddsData?.odds && event?.oddsData?.odds[1]?.backPrice1 || '-'}}</button>
                  <button type="button" class="d-red-area">{{event?.oddsData?.odds && event?.oddsData?.odds[1]?.layPrice1 || '-'}}</button>
                </div>
              </div>
              <!--new design-->
              <!--
              <div *ngFor="let event of eventList" class="row mx-0 py-2 text-capitalize align-items-top">
                <div class="col-md-5 col-12">
                  <button type="button" *ngIf="cUserData?.role != 'SV'" [ngClass]="{'btn-success-unblock': !event?.isBlock,'btn-danger-block': event?.isBlock}" class="btn p-1 lh-08" id="DashButtonGame">
                    <i class="mdi" [ngClass]="{'mdi-check-all': !event?.isBlock,'mdi-block-helper': event?.isBlock}"></i>
                  </button>
                  <span routerLink="/system-board/event-details/{{item?.slug}}/{{event?.eventId}}">
                    {{event?.name}}
                    <b *ngIf="event?.type === 'IN_PLAY'"><i class="mdi mdi-circle blinker text-success"></i></b>
                    <small *ngIf="item.slug != 'live-games' && item.slug != 'live-games2'" class="dash-timer">{{ event.time*1000 | date :'mediumDate' }} {{ event.time*1000 | date :'mediumTime' }}</small>
                  </span>
                </div>
                <div class="col-md-1 col-12 px-0">
                  <span class="dash-bets">{{ event.betCount }} bets</span>
                </div>
                <div *ngIf="item.slug == 'cricket' || item.slug == 'tennis' || item.slug == 'football'"  class="col-md-5 col-12">
                  <div class="btn-group" role="group" aria-label="">
                    <button type="button" class="d-blue-area">{{event?.oddsData?.odds && event?.oddsData?.odds[0]?.backPrice1 || '-'}}</button>
                    <button type="button" class="d-red-area">{{event?.oddsData?.odds && event?.oddsData?.odds[0]?.layPrice1 || '-'}}</button>
                  </div>
                  <div class="btn-group" role="group" aria-label="">
                    <button type="button" class="d-blue-area">{{event?.oddsData?.odds && event?.oddsData?.odds[2]?.backPrice1 || '-'}}</button>
                    <button type="button" class="d-red-area">{{event?.oddsData?.odds && event?.oddsData?.odds[2]?.layPrice1 || '-'}}</button>
                  </div>
                  <div class="btn-group" role="group" aria-label="">
                    <button type="button" class="d-blue-area">{{event?.oddsData?.odds && event?.oddsData?.odds[1]?.backPrice1 || '-'}}</button>
                    <button type="button" class="d-red-area">{{event?.oddsData?.odds && event?.oddsData?.odds[1]?.layPrice1 || '-'}}</button>
                  </div>
                </div>
              </div>
              -->
              <div *ngIf="isEmpty" class="row mx-0 py-2 text-capitalize align-items-center">
                <div class="col-md-4 col-12">
                  No Data Found!!!
                </div>
              </div>
            </div> <!-- end col -->
          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- end row -->

</div> <!-- container -->

