<!-- Start Content-->
<div class="container-fluid">

  <div class="row justify-content-between">

    <div class="col-12 bg-danger align-items-center py-1">
      <h4 class="page-title pull-left">
        {{title}}
      </h4>
      <a routerLink="{{createUrl}}" class="btn btn-xs btn-light font-weight-bold text-uppercase pull-right">Create New</a>
    </div>

    <!--back & create-->
    <div class="col-xl-12 bg-white py-2 ctm-datables">

      <table id="{{dataTableId}}" class="table w-100 nowrap table-hover">

        <thead class="bg-danger">
        <tr class="text-white">
          <th>#</th>
          <th>Key</th>
          <th>Value</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of aList; let i = index;">
          <td>{{ i + page.start }}</td>
          <td>{{item.key}}</td>
          <td style="white-space: unset;">{{item.value}}</td>
          <td class="sm-buttons" nowrap="nowrap">
            <div>
              <a (click)="changeStatus(item)" class="btn btn-xs btn-white border border-{{item.status.class1}}" title="{{item.status.text}}">
                <i class="fa {{item.status.class2}}"></i>
              </a>
              <a (click)="updateSetting(item)" class="btn btn-xs btn-white border border-success" title="Edit">
                <i class="fa fa-edit"></i>
              </a>
            </div>
          </td>
        </tr>

        </tbody>
      </table>

    </div>

  </div>
  <!-- end row -->
</div> <!-- container -->


<!-- Custom Modal -->
<div class="modal fade modal-s1 modal-one clear-settlement" tabindex="-1" role="dialog" aria-labelledby="myCenterModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header bg-dark">
        <h4 class="modal-title text-light" id="myCenterModalLabel"> Key of <b>{{keyName}}</b></h4>
        <button type="button" class="close text-light" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modal-body">
        <form [formGroup]="frm" (ngSubmit)="submitForm()">
          <div class="form-group mb-3">
            <label>Value</label>
            <div class="input-group">
              <textarea required formControlName="value" class="form-control"></textarea>
              <em class="show-error" *ngIf="frmValue.invalid && (frmValue.dirty || frmValue.touched)">Invalid Value!</em>
            </div>
            <p class="form-refer-text"> Value | Ex test </p>
          </div>

          <div class="form-group text-center">
            <div class="button-list">
              <button [ngClass]="{'disabled': !frm.valid }" type="submit"  class="btn btn-success btn-md">Submit</button>
              <button class="btn btn-danger btn-md" data-dismiss="modal" aria-hidden="true" id="close-settlement">Close</button>
            </div>
          </div>
        </form>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



