/*theme-design-default*/
.theme-design-default .text-danger,
.theme-design-default span.noti-number,
.theme-design-default .dash-col-3 .bg-card:hover p, 
.theme-design-default .login-card .code-verify i,
.theme-design-default #ScoreBOARD span.t-score,
.theme-design-default #ScoreBOARD span.t-score em,
.theme-design-default .manual-session-ui .tab-content h5.team-time-out,
.theme-design-default ul.my-nav-tabs li a.nav-link.active i,
.theme-design-default .game-detail-acc p.gd-event-title small strong,
.theme-design-default .nav-second-level li.active>a,
.theme-design-default .nav-third-level li.active>a,
.theme-design-default .page-title-box .breadcrumb a i,
.theme-design-default .page-title-box .breadcrumb a,
.theme-design-default ul.my-nav-tabs li a.nav-item.nav-link:hover {
    color:#112337 !important;
}
.theme-design-default .accordion .card-anchor.collapsed:after, .theme-design-default .accordion .card-anchor:after{
    color: #fff;
}
.theme-design-default .btn-danger {
    background: #112337!important;
    border-color: #112337!important;
}
.theme-design-default .jd-cr-bg .col-5:nth-child(1){background: #ab1612;}
.theme-design-default .jd-cr-bg .col-5:nth-child(2){background: #790a06;}
.theme-design-default .jd-cr-bg .col-5:nth-child(3){background: #ab1612;}
.theme-design-default .jd-cr-bg .col-5:nth-child(4){background: #790a06;}
.theme-design-default .badge-danger,
.theme-design-default #sidebar-menu>ul>li>a:active,
.theme-design-default #sidebar-menu>ul>li>a:focus,
.theme-design-default #sidebar-menu>ul>li>a:hover,
.theme-design-default #sidebar-menu>ul>li>a.active,
.theme-design-default .marquee-bg .btn-cmtry,
.theme-design-default .balance span,
.theme-design-default a.logout-menu,
.theme-design-default ul.my-nav-tabs li a.nav-link,
.theme-design-default p.upcoming-dash,
.theme-design-default,
.theme-design-default #ScoreBOARD ul.nav-tabs a.active,
.theme-design-default p.remarks,
.theme-design-default .marquee-bg .btn-cmtry,
.theme-design-default table.dataTable.dtr-inline.collapsed>tbody>tr[role=row]>td:first-child:before,
.theme-design-default table.dataTable.dtr-inline.collapsed>tbody>tr[role=row]>th:first-child:before,
.theme-design-default .dash-tabd::-webkit-scrollbar-thumb,
.theme-design-default .ctm-datables td.sm-buttons a:hover,
.theme-design-default .ctm-datables .dataTable a.btn:hover,
.theme-design-default #sidebar-menu>ul>li>a:active,
.theme-design-default #sidebar-menu>ul>li>a:focus,
.theme-design-default #sidebar-menu>ul>li>a:hover,
.theme-design-default .new-game::before {
    background: #112337 !important;
}
.theme-design-default #sidebar-menu>ul>li>ul {
    border-left: 1px solid #112337;
    border-right: 1px solid #112337;
}
.theme-design-default ul.my-nav-tabs li a.nav-link.active {
    box-shadow: inset 0 0 0 1px #112337;
}
.theme-design-default .border-danger, .theme-design-default .dash-col-3 .bg-card:hover{
    border-color: #112337 !important;
}
.theme-design-default .btn-success-book, .theme-design-default .footable-pagination li.active a {
    background: #112337!important;
    border-color: #112337!important;
}
.theme-design-default ul.my-nav-tabs li a.nav-link:hover{
    box-shadow: inset 0px 0px 0px 1px #112337;
}
.theme-design-default #sidebar-menu>ul>li>ul {
    border-left: 1px solid #112337;
    border-right: 1px solid #112337;
}
.theme-design-default .logo img {
    height: auto !important;
    width: 220px;
}
@media (max-width:767.98px) {
    .theme-design-default .dash-tabd ul.my-nav-tabs li:nth-child(1), .theme-design-default .dash-tabd ul.my-nav-tabs li:nth-child(2) {
        background: #112337 !important;
    }
}
/*theme-design-default*/

/*theme-design-1*/
.theme-design-1 .accordion .card-anchor:after,
.theme-design-1 .accordion .card-anchor.collapsed:after,
.theme-design-1 .text-danger,
.theme-design-1 span.noti-number,
.theme-design-1 .dash-col-3 .bg-card:hover p, 
.theme-design-1 .login-card .code-verify i,
.theme-design-1 #ScoreBOARD span.t-score,
.theme-design-1 #ScoreBOARD span.t-score em,
.theme-design-1 .manual-session-ui .tab-content h5.team-time-out,
.theme-design-1 ul.my-nav-tabs li a.nav-link.active i,
.theme-design-1 .game-detail-acc p.gd-event-title small strong,
.theme-design-1 .nav-second-level li.active>a,
.theme-design-1 .nav-third-level li.active>a,
.theme-design-1 .page-title-box .breadcrumb a i,
.theme-design-1 .page-title-box .breadcrumb a,
.theme-design-1 ul.my-nav-tabs li a.nav-item.nav-link:hover {
    color:#f18825 !important;
}
.theme-design-1 .btn-danger {
    background: #f18825!important;
    border-color: #f18825!important;
}
.theme-design-1 .jd-cr-bg .col-5:nth-child(1){background: #ce6e14;}
.theme-design-1 .jd-cr-bg .col-5:nth-child(2){background: #a55103;}
.theme-design-1 .jd-cr-bg .col-5:nth-child(3){background: #ce6e14;}
.theme-design-1 .jd-cr-bg .col-5:nth-child(4){background: #a55103;}
.theme-design-1 .badge-danger,
.theme-design-1 .bg-danger,
.theme-design-1 #sidebar-menu>ul>li>a:active,
.theme-design-1 #sidebar-menu>ul>li>a:focus,
.theme-design-1 #sidebar-menu>ul>li>a:hover,
.theme-design-1 #sidebar-menu>ul>li>a.active,
.theme-design-1 .marquee-bg .btn-cmtry,
.theme-design-1 .balance span,
.theme-design-1 a.logout-menu,
.theme-design-1 ul.my-nav-tabs li a.nav-link,
.theme-design-1 p.upcoming-dash,
.theme-design-1 .giris-yap-buton,
.theme-design-1 #ScoreBOARD ul.nav-tabs a.active,
.theme-design-1 p.remarks,
.theme-design-1 .marquee-bg .btn-cmtry,
.theme-design-1 table.dataTable.dtr-inline.collapsed>tbody>tr[role=row]>td:first-child:before,
.theme-design-1 table.dataTable.dtr-inline.collapsed>tbody>tr[role=row]>th:first-child:before,
.theme-design-1 .dash-tabd::-webkit-scrollbar-thumb,
.theme-design-1 .ctm-datables td.sm-buttons a:hover,
.theme-design-1 .ctm-datables .dataTable a.btn:hover,
.theme-design-1 #sidebar-menu>ul>li>a:active,
.theme-design-1 #sidebar-menu>ul>li>a:focus,
.theme-design-1 #sidebar-menu>ul>li>a:hover,
.theme-design-1 .new-game::before {
    background: #f18825 !important;
}
.theme-design-1 #sidebar-menu>ul>li>ul {
    border-left: 1px solid #f18825;
    border-right: 1px solid #f18825;
}
.theme-design-1 ul.my-nav-tabs li a.nav-link.active {
    box-shadow: inset 0 0 0 1px #f18825;
}
.theme-design-1 .border-danger, .theme-design-1 .dash-col-3 .bg-card:hover{
    border-color: #f18825 !important;
}
.theme-design-1 .btn-success-book, .theme-design-1 .footable-pagination li.active a {
    background: #f18825!important;
    border-color: #f18825!important;
}
.theme-design-1 ul.my-nav-tabs li a.nav-link:hover{
    box-shadow: inset 0px 0px 0px 1px #f18825;
}
.theme-design-1 #sidebar-menu>ul>li>ul {
    border-left: 1px solid #f18825;
    border-right: 1px solid #f18825;
}
.theme-design-1 .logo img {
    height: auto !important;
    width: 180px;
    margin-top: 5px;
}
@media (max-width:767.98px) {
    .theme-design-1 .dash-tabd ul.my-nav-tabs li:nth-child(1), .theme-design-1 .dash-tabd ul.my-nav-tabs li:nth-child(2), .theme-design-1 .dash-div .row div span.dash-bets {
        background: #f18825 !important;
    }
}
/*theme-design-1*/

/*theme-design-2*/
.theme-design-2 .accordion .card-anchor:after,
.theme-design-2 .accordion .card-anchor.collapsed:after,
.theme-design-2 .text-danger,
.theme-design-2 span.noti-number,
.theme-design-2 .dash-col-3 .bg-card:hover p, 
.theme-design-2 .login-card .code-verify i,
.theme-design-2 #ScoreBOARD span.t-score,
.theme-design-2 #ScoreBOARD span.t-score em,
.theme-design-2 .manual-session-ui .tab-content h5.team-time-out,
.theme-design-2 ul.my-nav-tabs li a.nav-link.active i,
.theme-design-2 .game-detail-acc p.gd-event-title small strong,
.theme-design-2 .nav-second-level li.active>a,
.theme-design-2 .nav-third-level li.active>a,
.theme-design-2 .page-title-box .breadcrumb a i,
.theme-design-2 .page-title-box .breadcrumb a,
.theme-design-2 ul.my-nav-tabs li a.nav-item.nav-link:hover {
    color:#228b22 !important;
}
.theme-design-2 .btn-danger {
    background: #228b22!important;
    border-color: #228b22!important;
}
.theme-design-2 .jd-cr-bg .col-5:nth-child(1){background: #158a15;}
.theme-design-2 .jd-cr-bg .col-5:nth-child(2){background: #0d690d;}
.theme-design-2 .jd-cr-bg .col-5:nth-child(3){background: #158a15;}
.theme-design-2 .jd-cr-bg .col-5:nth-child(4){background: #0d690d;}
.theme-design-2 .badge-danger,
.theme-design-2 .bg-danger,
.theme-design-2 #sidebar-menu>ul>li>a:active,
.theme-design-2 #sidebar-menu>ul>li>a:focus,
.theme-design-2 #sidebar-menu>ul>li>a:hover,
.theme-design-2 #sidebar-menu>ul>li>a.active,
.theme-design-2 .marquee-bg .btn-cmtry,
.theme-design-2 .balance span,
.theme-design-2 a.logout-menu,
.theme-design-2 ul.my-nav-tabs li a.nav-link,
.theme-design-2 p.upcoming-dash,
.theme-design-2 .giris-yap-buton,
.theme-design-2 #ScoreBOARD ul.nav-tabs a.active,
.theme-design-2 p.remarks,
.theme-design-2 .marquee-bg .btn-cmtry,
.theme-design-2 table.dataTable.dtr-inline.collapsed>tbody>tr[role=row]>td:first-child:before,
.theme-design-2 table.dataTable.dtr-inline.collapsed>tbody>tr[role=row]>th:first-child:before,
.theme-design-2 .dash-tabd::-webkit-scrollbar-thumb,
.theme-design-2 .ctm-datables td.sm-buttons a:hover,
.theme-design-2 .ctm-datables .dataTable a.btn:hover,
.theme-design-2 #sidebar-menu>ul>li>a:active,
.theme-design-2 #sidebar-menu>ul>li>a:focus,
.theme-design-2 #sidebar-menu>ul>li>a:hover,
.theme-design-2 .new-game::before {
    background: #228b22 !important;
}
.theme-design-2 #sidebar-menu>ul>li>ul {
    border-left: 1px solid #228b22;
    border-right: 1px solid #228b22;
}
.theme-design-2 ul.my-nav-tabs li a.nav-link.active {
    box-shadow: inset 0 0 0 1px #228b22;
}
.theme-design-2 .border-danger, .theme-design-2 .dash-col-3 .bg-card:hover{
    border-color: #228b22 !important;
}
.theme-design-2 .btn-success-book, .theme-design-2 .footable-pagination li.active a {
    background: #228b22!important;
    border-color: #228b22!important;
}
.theme-design-2 ul.my-nav-tabs li a.nav-link:hover{
    box-shadow: inset 0px 0px 0px 1px #228b22;
}
.theme-design-2 #sidebar-menu>ul>li>ul {
    border-left: 1px solid #228b22;
    border-right: 1px solid #228b22;
}
.theme-design-2 .logo img {
    height: auto !important;
    width: 125px;
    margin-top: 5px;
}
@media (max-width:767.98px) {
    .theme-design-2 .dash-tabd ul.my-nav-tabs li:nth-child(1), .theme-design-2 .dash-tabd ul.my-nav-tabs li:nth-child(2), .theme-design-2 .dash-div .row div span.dash-bets {
        background: #228b22 !important;
    }
}
/*theme-design-2*/

/*theme-design-3*/
.theme-design-3 .accordion .card-anchor:after,
.theme-design-3 .accordion .card-anchor.collapsed:after,
.theme-design-3 .text-danger,
.theme-design-3 span.noti-number,
.theme-design-3 .dash-col-3 .bg-card:hover p, 
.theme-design-3 .login-card .code-verify i,
.theme-design-3 #ScoreBOARD span.t-score,
.theme-design-3 #ScoreBOARD span.t-score em,
.theme-design-3 .manual-session-ui .tab-content h5.team-time-out,
.theme-design-3 ul.my-nav-tabs li a.nav-link.active i,
.theme-design-3 .game-detail-acc p.gd-event-title small strong,
.theme-design-3 .nav-second-level li.active>a,
.theme-design-3 .nav-third-level li.active>a,
.theme-design-3 .page-title-box .breadcrumb a i,
.theme-design-3 .page-title-box .breadcrumb a,
.theme-design-3 ul.my-nav-tabs li a.nav-item.nav-link:hover {
    color:#0ba69d !important;
}
.theme-design-3 .btn-danger {
    background: #0ba69d!important;
    border-color: #0ba69d!important;
}
.theme-design-3 .jd-cr-bg .col-5:nth-child(1){background: #11867f;}
.theme-design-3 .jd-cr-bg .col-5:nth-child(2){background: #03a59b;}
.theme-design-3 .jd-cr-bg .col-5:nth-child(3){background: #11867f;}
.theme-design-3 .jd-cr-bg .col-5:nth-child(4){background: #03a59b;}
.theme-design-3 .badge-danger,
.theme-design-3 .bg-danger,
.theme-design-3 #sidebar-menu>ul>li>a:active,
.theme-design-3 #sidebar-menu>ul>li>a:focus,
.theme-design-3 #sidebar-menu>ul>li>a:hover,
.theme-design-3 #sidebar-menu>ul>li>a.active,
.theme-design-3 .marquee-bg .btn-cmtry,
.theme-design-3 .balance span,
.theme-design-3 a.logout-menu,
.theme-design-3 ul.my-nav-tabs li a.nav-link,
.theme-design-3 p.upcoming-dash,
.theme-design-3 .giris-yap-buton,
.theme-design-3 #ScoreBOARD ul.nav-tabs a.active,
.theme-design-3 p.remarks,
.theme-design-3 .marquee-bg .btn-cmtry,
.theme-design-3 table.dataTable.dtr-inline.collapsed>tbody>tr[role=row]>td:first-child:before,
.theme-design-3 table.dataTable.dtr-inline.collapsed>tbody>tr[role=row]>th:first-child:before,
.theme-design-3 .dash-tabd::-webkit-scrollbar-thumb,
.theme-design-3 .ctm-datables td.sm-buttons a:hover,
.theme-design-3 .ctm-datables .dataTable a.btn:hover,
.theme-design-3 #sidebar-menu>ul>li>a:active,
.theme-design-3 #sidebar-menu>ul>li>a:focus,
.theme-design-3 #sidebar-menu>ul>li>a:hover,
.theme-design-3 .new-game::before {
    background: #0ba69d !important;
}
.theme-design-3 #sidebar-menu>ul>li>ul {
    border-left: 1px solid #0ba69d;
    border-right: 1px solid #0ba69d;
}
.theme-design-3 ul.my-nav-tabs li a.nav-link.active {
    box-shadow: inset 0 0 0 1px #0ba69d;
}
.theme-design-3 .border-danger, .theme-design-3 .dash-col-3 .bg-card:hover{
    border-color: #0ba69d !important;
}
.theme-design-3 .btn-success-book, .theme-design-3 .footable-pagination li.active a {
    background: #0ba69d!important;
    border-color: #0ba69d!important;
}
.theme-design-3 ul.my-nav-tabs li a.nav-link:hover{
    box-shadow: inset 0px 0px 0px 1px #0ba69d;
}
.theme-design-3 #sidebar-menu>ul>li>ul {
    border-left: 1px solid #0ba69d;
    border-right: 1px solid #0ba69d;
}
.theme-design-3 .logo img {
    height: auto !important;
    width: 170px;
    margin-top: 5px;
}
@media (max-width:767.98px) {
    .theme-design-3 .dash-tabd ul.my-nav-tabs li:nth-child(1), .theme-design-3 .dash-tabd ul.my-nav-tabs li:nth-child(2), .theme-design-3 .dash-div .row div span.dash-bets {
        background: #0ba69d !important;
    }
}
/*theme-design-3*/

/*theme-design-4*/
.theme-design-4 .accordion .card-anchor:after,
.theme-design-4 .accordion .card-anchor.collapsed:after,
.theme-design-4 .text-danger,
.theme-design-4 span.noti-number,
.theme-design-4 .dash-col-3 .bg-card:hover p, 
.theme-design-4 .login-card .code-verify i,
.theme-design-4 #ScoreBOARD span.t-score,
.theme-design-4 #ScoreBOARD span.t-score em,
.theme-design-4 .manual-session-ui .tab-content h5.team-time-out,
.theme-design-4 ul.my-nav-tabs li a.nav-link.active i,
.theme-design-4 .game-detail-acc p.gd-event-title small strong,
.theme-design-4 .nav-second-level li.active>a,
.theme-design-4 .nav-third-level li.active>a,
.theme-design-4 .page-title-box .breadcrumb a i,
.theme-design-4 .page-title-box .breadcrumb a,
.theme-design-4 ul.my-nav-tabs li a.nav-item.nav-link:hover {
    color:#014f9f !important;
}
.theme-design-4 .btn-danger {
    background: #014f9f!important;
    border-color: #014f9f!important;
}
.theme-design-4 .jd-cr-bg .col-5:nth-child(1){background: #0f4275;}
.theme-design-4 .jd-cr-bg .col-5:nth-child(2){background: #023365;}
.theme-design-4 .jd-cr-bg .col-5:nth-child(3){background: #0f4275;}
.theme-design-4 .jd-cr-bg .col-5:nth-child(4){background: #023365;}
.theme-design-4 .badge-danger,
.theme-design-4 .bg-danger,
.theme-design-4 #sidebar-menu>ul>li>a:active,
.theme-design-4 #sidebar-menu>ul>li>a:focus,
.theme-design-4 #sidebar-menu>ul>li>a:hover,
.theme-design-4 #sidebar-menu>ul>li>a.active,
.theme-design-4 .marquee-bg .btn-cmtry,
.theme-design-4 .balance span,
.theme-design-4 a.logout-menu,
.theme-design-4 ul.my-nav-tabs li a.nav-link,
.theme-design-4 p.upcoming-dash,
.theme-design-4 .giris-yap-buton,
.theme-design-4 #ScoreBOARD ul.nav-tabs a.active,
.theme-design-4 p.remarks,
.theme-design-4 .marquee-bg .btn-cmtry,
.theme-design-4 table.dataTable.dtr-inline.collapsed>tbody>tr[role=row]>td:first-child:before,
.theme-design-4 table.dataTable.dtr-inline.collapsed>tbody>tr[role=row]>th:first-child:before,
.theme-design-4 .dash-tabd::-webkit-scrollbar-thumb,
.theme-design-4 .ctm-datables td.sm-buttons a:hover,
.theme-design-4 .ctm-datables .dataTable a.btn:hover,
.theme-design-4 #sidebar-menu>ul>li>a:active,
.theme-design-4 #sidebar-menu>ul>li>a:focus,
.theme-design-4 #sidebar-menu>ul>li>a:hover ,
.theme-design-4 .new-game::before {
    background: #014f9f !important;
}
.theme-design-4 #sidebar-menu>ul>li>ul {
    border-left: 1px solid #014f9f;
    border-right: 1px solid #014f9f;
}
.theme-design-4 ul.my-nav-tabs li a.nav-link.active {
    box-shadow: inset 0 0 0 1px #014f9f;
}
.theme-design-4 .border-danger, .theme-design-4 .dash-col-3 .bg-card:hover{
    border-color: #014f9f !important;
}
.theme-design-4 .btn-success-book, .theme-design-4 .footable-pagination li.active a {
    background: #014f9f!important;
    border-color: #014f9f!important;
}
.theme-design-4 ul.my-nav-tabs li a.nav-link:hover{
    box-shadow: inset 0px 0px 0px 1px #014f9f;
}
.theme-design-4 #sidebar-menu>ul>li>ul {
    border-left: 1px solid #014f9f;
    border-right: 1px solid #014f9f;
}
.theme-design-4 .logo img {
    height: auto !important;
    width: 110px;
}
@media (max-width:767.98px) {
    .theme-design-4 .dash-tabd ul.my-nav-tabs li:nth-child(1), .theme-design-4 .dash-tabd ul.my-nav-tabs li:nth-child(2), .theme-design-4 .dash-div .row div span.dash-bets {
        background: #014f9f !important;
    }
}
/*theme-design-4*/

/*theme-design-5*/
.theme-design-5 .accordion .card-anchor:after,
.theme-design-5 .accordion .card-anchor.collapsed:after,
.theme-design-5 .text-danger,
.theme-design-5 span.noti-number,
.theme-design-5 .dash-col-3 .bg-card:hover p, 
.theme-design-5 .login-card .code-verify i,
.theme-design-5 #ScoreBOARD span.t-score,
.theme-design-5 #ScoreBOARD span.t-score em,
.theme-design-5 .manual-session-ui .tab-content h5.team-time-out,
.theme-design-5 ul.my-nav-tabs li a.nav-link.active i,
.theme-design-5 .game-detail-acc p.gd-event-title small strong,
.theme-design-5 .nav-second-level li.active>a,
.theme-design-5 .nav-third-level li.active>a,
.theme-design-5 .page-title-box .breadcrumb a i,
.theme-design-5 .page-title-box .breadcrumb a,
.theme-design-5 ul.my-nav-tabs li a.nav-item.nav-link:hover {
    color:#7f049e !important;
}
.theme-design-5 .btn-danger {
    background: #7f049e!important;
    border-color: #7f049e!important;
}
.theme-design-5 .jd-cr-bg .col-5:nth-child(1){background: #651479;}
.theme-design-5 .jd-cr-bg .col-5:nth-child(2){background: #5a036f;}
.theme-design-5 .jd-cr-bg .col-5:nth-child(3){background: #651479;}
.theme-design-5 .jd-cr-bg .col-5:nth-child(4){background: #5a036f;}
.theme-design-5 .badge-danger,
.theme-design-5 .bg-danger,
.theme-design-5 #sidebar-menu>ul>li>a:active,
.theme-design-5 #sidebar-menu>ul>li>a:focus,
.theme-design-5 #sidebar-menu>ul>li>a:hover,
.theme-design-5 #sidebar-menu>ul>li>a.active,
.theme-design-5 .marquee-bg .btn-cmtry,
.theme-design-5 .balance span,
.theme-design-5 a.logout-menu,
.theme-design-5 ul.my-nav-tabs li a.nav-link,
.theme-design-5 p.upcoming-dash,
.theme-design-5 .giris-yap-buton,
.theme-design-5 #ScoreBOARD ul.nav-tabs a.active,
.theme-design-5 p.remarks,
.theme-design-5 .marquee-bg .btn-cmtry,
.theme-design-5 table.dataTable.dtr-inline.collapsed>tbody>tr[role=row]>td:first-child:before,
.theme-design-5 table.dataTable.dtr-inline.collapsed>tbody>tr[role=row]>th:first-child:before,
.theme-design-5 .dash-tabd::-webkit-scrollbar-thumb,
.theme-design-5 .ctm-datables td.sm-buttons a:hover,
.theme-design-5 .ctm-datables .dataTable a.btn:hover,
.theme-design-5 #sidebar-menu>ul>li>a:active,
.theme-design-5 #sidebar-menu>ul>li>a:focus,
.theme-design-5 #sidebar-menu>ul>li>a:hover,
.theme-design-5 .new-game::before {
    background: #7f049e !important;
}
.theme-design-5 #sidebar-menu>ul>li>ul {
    border-left: 1px solid #7f049e;
    border-right: 1px solid #7f049e;
}
.theme-design-5 ul.my-nav-tabs li a.nav-link.active {
    box-shadow: inset 0 0 0 1px #7f049e;
}
.theme-design-5 .border-danger, .theme-design-5 .dash-col-3 .bg-card:hover{
    border-color: #7f049e !important;
}
.theme-design-5 .btn-success-book, .theme-design-5 .footable-pagination li.active a {
    background: #7f049e!important;
    border-color: #7f049e!important;
}
.theme-design-5 ul.my-nav-tabs li a.nav-link:hover{
    box-shadow: inset 0px 0px 0px 1px #7f049e;
}
.theme-design-5 #sidebar-menu>ul>li>ul {
    border-left: 1px solid #7f049e;
    border-right: 1px solid #7f049e;
}
.theme-design-5 .logo img {
    height: auto !important;
    width: 200px;
    margin-top: 5px;
}
@media (max-width:767.98px) {
    .theme-design-5 .dash-tabd ul.my-nav-tabs li:nth-child(1), .theme-design-5 .dash-tabd ul.my-nav-tabs li:nth-child(2), .theme-design-5 .dash-div .row div span.dash-bets {
        background: #7f049e !important;
    }
}
/*theme-design-5*/

/*theme-design-6*/
.theme-design-6 .accordion .card-anchor:after,
.theme-design-6 .accordion .card-anchor.collapsed:after,
.theme-design-6 .text-danger,
.theme-design-6 span.noti-number,
.theme-design-6 .dash-col-3 .bg-card:hover p, 
.theme-design-6 .login-card .code-verify i,
.theme-design-6 #ScoreBOARD span.t-score,
.theme-design-6 #ScoreBOARD span.t-score em,
.theme-design-6 .manual-session-ui .tab-content h5.team-time-out,
.theme-design-6 ul.my-nav-tabs li a.nav-link.active i,
.theme-design-6 .game-detail-acc p.gd-event-title small strong,
.theme-design-6 .nav-second-level li.active>a,
.theme-design-6 .nav-third-level li.active>a,
.theme-design-6 .page-title-box .breadcrumb a i,
.theme-design-6 .page-title-box .breadcrumb a,
.theme-design-6 ul.my-nav-tabs li a.nav-item.nav-link:hover {
    color:#FFC000 !important;
}
.theme-design-6 .btn-danger {
    background: #FFC000!important;
    border-color: #FFC000!important;
}
.theme-design-6 .jd-cr-bg .col-5:nth-child(1){background: #651479;}
.theme-design-6 .jd-cr-bg .col-5:nth-child(2){background: #5a036f;}
.theme-design-6 .jd-cr-bg .col-5:nth-child(3){background: #651479;}
.theme-design-6 .jd-cr-bg .col-5:nth-child(4){background: #5a036f;}
.theme-design-6 .badge-danger,
.theme-design-6 .bg-danger,
.theme-design-6 #sidebar-menu>ul>li>a:active,
.theme-design-6 #sidebar-menu>ul>li>a:focus,
.theme-design-6 #sidebar-menu>ul>li>a:hover,
.theme-design-6 #sidebar-menu>ul>li>a.active,
.theme-design-6 .marquee-bg .btn-cmtry,
.theme-design-6 .balance span,
.theme-design-6 a.logout-menu,
.theme-design-6 ul.my-nav-tabs li a.nav-link,
.theme-design-6 p.upcoming-dash,
.theme-design-6 .giris-yap-buton,
.theme-design-6 #ScoreBOARD ul.nav-tabs a.active,
.theme-design-6 p.remarks,
.theme-design-6 .marquee-bg .btn-cmtry,
.theme-design-6 table.dataTable.dtr-inline.collapsed>tbody>tr[role=row]>td:first-child:before,
.theme-design-6 table.dataTable.dtr-inline.collapsed>tbody>tr[role=row]>th:first-child:before,
.theme-design-6 .dash-tabd::-webkit-scrollbar-thumb,
.theme-design-6 .ctm-datables td.sm-buttons a:hover,
.theme-design-6 .ctm-datables .dataTable a.btn:hover,
.theme-design-6 #sidebar-menu>ul>li>a:active,
.theme-design-6 #sidebar-menu>ul>li>a:focus,
.theme-design-6 #sidebar-menu>ul>li>a:hover,
.theme-design-6 .new-game::before {
    background: #FFC000 !important;
}
.theme-design-6 #sidebar-menu>ul>li>ul {
    border-left: 1px solid #FFC000;
    border-right: 1px solid #FFC000;
}
.theme-design-6 ul.my-nav-tabs li a.nav-link.active {
    box-shadow: inset 0 0 0 1px #FFC000;
}
.theme-design-6 .border-danger, .theme-design-6 .dash-col-3 .bg-card:hover{
    border-color: #FFC000 !important;
}
.theme-design-6 .btn-success-book, .theme-design-6 .footable-pagination li.active a {
    background: #FFC000!important;
    border-color: #FFC000!important;
}
.theme-design-6 ul.my-nav-tabs li a.nav-link:hover{
    box-shadow: inset 0px 0px 0px 1px #FFC000;
}
.theme-design-6 #sidebar-menu>ul>li>ul {
    border-left: 1px solid #FFC000;
    border-right: 1px solid #FFC000;
}
.theme-design-6 .logo img {
    height: auto !important;
    width: 200px;
    margin-top: 5px;
}
@media (max-width:767.98px) {
    .theme-design-6 .dash-tabd ul.my-nav-tabs li:nth-child(1), .theme-design-6 .dash-tabd ul.my-nav-tabs li:nth-child(2), .theme-design-6 .dash-div .row div span.dash-bets {
        background: #FFC000 !important;
    }
}
/*theme-design-6*/
