<!-- Start Content-->
<div class="container-fluid">

  <div class="row justify-content-between">

    <!--back & create-->
    <div class="col-7 py-1">
      <h4 class="page-title">
        <!--<a class="btn btn-xs btn-light waves-effect text-dark waves-light mr-1 px-1">
          <i class="mdi mdi-arrow-left"></i> Back
        </a>-->
        {{title}}
      </h4>
    </div>
    <div class="col-5 text-right py-1">
    </div>
    <!--back & create-->

    <div class="col-xl-12 bg-white py-2 ctm-datables">
      <table id="sm-datatable" class="table w-100 nowrap table-hover">
        <thead class="bg-danger">
        <tr class="text-white">
          <th data-toggle="true">#</th>
          <th>Name [username]</th>
          <th>Parent</th>
          <th>P&L(%)</th>
          <th>P&L Balance</th>
          <th>Balance</th>
          <th>Remark</th>
          <th>Reference</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>

        <tr *ngFor="let item of aList; let i = index;">
          <td>{{ i + page.start }}</td>
          <td>{{item.name}} [{{item.username}}]</td>
          <td>{{item.pName}}</td>
          <td>{{item.pl}}</td>
          <td><strong>{{item.plBalance}}</strong></td>
          <td><strong>{{item.balance}}</strong></td>
          <td>{{item.remark}}</td>
          <td>
            <p (click)="setTitleOnClick(item.name)" *ngIf="item.smCount > '0'" routerLink="/users/super-master/reference/{{item.id}}" class="super-master" title="Super Master">SM {{item.smCount}}</p>
            <p (click)="setTitleOnClick(item.name)" *ngIf="item.mCount > '0'" routerLink="/users/master/reference/{{item.id}}" class="master" title="Master">M {{item.mCount}}</p>
            <p (click)="setTitleOnClick(item.name)" *ngIf="item.cCount > '0'" routerLink="/users/client/reference/{{item.id}}" class="client" title="Client">C {{item.cCount}}</p>
          </td>
          <td class="sm-buttons" nowrap="nowrap">
            <div>
              <a (click)="setTitleOnClick(item.name)" routerLink="/reports/chip-history/{{item.id}}" class="btn btn-xs btn-ch" title="Chip History" target="_blank">CH</a>
              <a (click)="setTitleOnClick(item.name)" routerLink="/reports/profit-loss/{{item.id}}" class="btn btn-xs btn-pl" title="Profit Loss" target="_blank">PL</a>
              <a (click)="setTitleOnClick(item.name)" routerLink="/reports/teenpatti-profit-loss/{{item.id}}" class="btn btn-xs btn-3pl" title="Teen Patti Profit Loss" target="_blank">3PL</a>
              <a (click)="setTitleOnClick(item.name)" routerLink="/reports/account-statement/{{item.id}}" class="btn btn-xs btn-as" title="Account Statement" target="_blank">AS</a>
            </div>
          </td>
        </tr>
        </tbody>
        <!--<tfoot>
          <tr class="active">
            <td colspan="5">
              <div class="text-right">
                <ul class="pagination pagination-rounded justify-content-end footable-pagination m-t-10 mb-0"></ul>
              </div>
            </td>
          </tr>
        </tfoot>-->
      </table>
    </div>
    <!-- end .table-responsive-->
  </div>
  <!-- end row -->
</div>
<!-- container -->
