<!-- Start Content-->
<div class="container-fluid">

  <div class="row justify-content-between ">

    <!--back & create-->
    <div class="col-7 py-1">
      <h4 class="page-title">
        <!--<a class="btn btn-xs btn-light waves-effect text-dark waves-light mr-1 px-1">
          <i class="mdi mdi-arrow-left"></i> Back
        </a>-->
        {{title}}
      </h4>
    </div>
    <div class="col-5 text-right py-1">
    </div>
    <!--back & create-->

    <div class="col-xl-12 bg-white py-2 ctm-datables">
      <!-- searchbar -->
      <div class="row py-1 mb-2 align-items-center mx-0 border-bottom border-danger">
        <div class="col-xl-12">
          <div class="row">
            <div class="col-xl-7">
              <form [formGroup]="frm" (ngSubmit)="submitForm()" >
                <div class="form-row align-items-center">
                  <div class="col-xl-3 col-4 mb-1">
                    <input type="date" required formControlName="start" class="form-control">
                    <!--<em class="show-error" *ngIf="frmStart.invalid && (frmStart.dirty || frmStart.touched)">Select Date !</em>-->
                  </div>
                  <div class="col-xl-3 col-4 mb-1">
                    <div class="input-group">
                      <input type="date" required formControlName="end" class="form-control">
                      <!--<em class="show-error" *ngIf="frmEnd.invalid && (frmEnd.dirty || frmEnd.touched)">Select Date !</em>-->
                    </div>
                  </div>
                  <div class="col-xl-2 col-4 mb-1">
                    <div class="input-group">
                      <button [ngClass]="{'disabled': !frm.valid }" type="submit" class="btn btn-dark">Search</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>

            <div class="col-xl-5 text-right px-0 mx-0">
              <div class="button-list">
                <div class="dt-buttons btn-group">
                  <button *ngIf="user.role == 'ADMIN' && !uid" type="button" (click)="submitForm('wl')" class="btn btn-secondary mr-1" title="W/L">
                    <span>W/L</span>
                  </button>
                  <button type="button" (click)="submitForm('today')" class="btn btn-secondary mr-1" title="Today">
                    <span>Today</span>
                  </button>
                  <button type="button" (click)="submitForm('week')" class="btn btn-secondary mr-1" title="1 Week">
                    <span>1 Week</span>
                  </button>
                  <button type="button" (click)="submitForm('month')" class="btn btn-secondary mr-1" title="1 Month">
                    <span>1 Month</span>
                  </button>
                  <button type="button" class="btn btn-success" (click)="excelDownload()" data-toggle="tooltip" data-placement="top" title="Excel File Download">
                    <span>Export <i class="mdi mdi-file-excel"></i></span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- searchbar -->
      <table id="{{dataTableId}}" class="table w-100 nowrap table-hover">
        <thead class="bg-danger">
        <tr class="text-white">
          <th>#</th>
          <th>Description</th>
          <th>Credit</th>
          <th>Debit</th>
          <th>Balance</th>
          <th>Date & Time</th>
          <th>Remark</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of aList; let i = index;">
          <td>{{ i + page.start }}</td>
          <td>{{item.description}}</td>
          <td><span *ngIf="item.type == 'CREDIT'" ><strong>{{item.amount}}</strong></span><span *ngIf="item.type != 'CREDIT'" >0.0</span></td>
          <td><span *ngIf="item.type == 'DEBIT'" ><strong>{{item.amount}}</strong></span><span *ngIf="item.type != 'DEBIT'" >0.0</span></td>
          <td>{{item.balance}}</td>
          <td>{{item.time}}</td>
          <td>{{item.remark}}</td>
        </tr>
        </tbody>
        <!--<tfoot>
          <tr class="active">
            <td colspan="5">
              <div class="text-right">
                <ul class="pagination pagination-rounded justify-content-end footable-pagination m-t-10 mb-0"></ul>
              </div>
            </td>
          </tr>
        </tfoot>-->
      </table>

    </div>

  </div>
  <!-- end row -->
</div>
<!-- container -->
