<!-- Start Content-->
<div class="container-fluid">

  <div class="row justify-content-between ">

    <!--back & create-->
    <div class="col-7 py-1">
      <h4 class="page-title">
        <!--<a class="btn btn-xs btn-light waves-effect text-dark waves-light mr-1 px-1">
          <i class="mdi mdi-arrow-left"></i> Back
        </a>-->
        {{title}}
      </h4>
    </div>
    <div class="col-5 text-right py-1">
    </div>
    <!--back & create-->

    <div class="col-xl-12 bg-white py-2 ctm-datables">
      <table id="{{dataTableId}}" class="table w-100 nowrap table-hover">
        <thead class="bg-danger">
        <tr class="text-white">
          <th>Bet ID</th>
          <th>Description</th>
          <th>Client</th>
          <th>Price</th>
          <th>Rate</th>
          <th>Stake</th>
          <th>Type</th>
          <th>P/L</th>
          <th>Result</th>
          <th>IP</th>
          <th>Master</th>
          <th>Time</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of aList; let i = index;" [ngClass]="{'bg-blue': item.bType == 'BACK' || item.bType == 'back' || item.bType == 'yes', 'bg-red': item.bType == 'LAY' || item.bType == 'lay' || item.bType == 'no'}">
          <td>{{ item.id.$oid }}</td>
          <td>{{item.description}}</td>
          <td>{{item.client}}</td>
          <td>{{item.price}}</td>
          <td>{{item.rate}}</td>
          <td>{{item.stake}}</td>
          <td>{{item.bType}}</td>
          <td><b [ngClass]="{'red': item.result == 'LOSS','green': item.result == 'WIN'}">{{item.pl}}</b></td>
          <td><b [ngClass]="{'red': item.result == 'LOSS','green': item.result == 'WIN'}">{{item.result}}</b></td>
          <td>{{item.ip}}</td>
          <td>{{item.master}}</td>
          <td>{{item.time}}</td>
        </tr>
        </tbody>
      </table>

    </div>

  </div>
  <!-- end row -->

</div> <!-- container -->
